.create
  .create__cell.create__cell--main
    header.create__head
      h1.create__title Postar Vaga

    .create__body
      form
        fieldset.create-fieldset
          legend.create-fieldset__legend Sobre sua empresa
          ul.create-form
            li
              label.create-form__label Seu e-mail:
              .create-form__input
                input.input.input--full(type='text', name='EMAIL' ng-model='job.EMAIL')
                .create-form__help Este é o email para cadastramento de sua empresa em nosso sistema.
            li
              label.create-form__label Nome da empresa:
              .create-form__input
                input.input.input--full(type='text' placeholder='' name='COMPANY_NAME' ng-model='job.COMPANY_NAME')
                .create-form__help O nome da empresa não pode ser divulgado? Cheque ao lado para manter em sigilo.
            li
              label.create-form__label Site da empresa:
              .create-form__input
                input.input.input--full(type='text' placeholder='http://' name='COMPANY_URL' ng-model='job.COMPANY_URL')
                .create-form__help Vagas com o site da empresa atraem mais candidatos.
            li
              label.create-form__label Logo:
              .create-form__input
                input(type='file')

        fieldset.create-fieldset
          legend.create-fieldset__legend Sobre a vaga
          ul.create-form
            li
              label.create-form__label Título da vaga:
              .create-form__input
                input.input.input--full(type='text' name='TITLE' ng-model='job.TITLE' required)
            li
              label.create-form__label Tipo da vaga:
              .create-form__input
                ul.create-type-job
                  li
                    input.create-type-job__input(type='radio' name='job_typeID' value='full-time' id='rdl-fulltime')
                    label.create-type-job__label.label.label--fulltime(for='rdl-fulltime') Full-time
                  li
                    input.create-type-job__input(type='radio' name='job_typeID' value='part-time' id='rdl-parttime')
                    label.create-type-job__label.label.label--parttime(for='rdl-parttime') Part-time
                  li
                    input.create-type-job__input(type='radio' name='job_typeID' value='part-time' id='rdl-freelance')
                    label.create-type-job__label.label.label--freelance(for='rdl-freelance') Freelance
                  li
                    input.create-type-job__input(type='radio' name='job_typeID' value='temporary' id='rdl-temporary')
                    label.create-type-job__label.label.label--temporary(for='rdl-temporary') Temporary
            li
              label.create-form__label Descrição:
              .create-form__input
                textarea.textarea.textarea--full(placeholder='Descrição' name='DESCRIPTION' ng-model='job.DESCRIPTION' rows='6')
            li
              label.create-form__label Categoria:
              .create-form__input
                select.select.select--full(name='categoryId' ng-model='job.categoryId' required)
                    option(ng-repeat='(id, category) in categories' value='{{id}}')
                        {{category.NAME}}
            li
              label.create-form__label Local:
              .create-form__input
                input.input.input--full(type='text' placeholder='' name='location' ng-model='job.LOCATION' required)
            li
              label.create-form__label Como aplicar
              .create-form__input
                .create-how-apply
                  .create-how-apply__input
                    label.create-how-apply-label
                      input.create-how-apply-label__radio(type='radio' name='applyUrl' checked)
                      .create-how-apply-label__body Apply by Email
                    label.create-how-apply-label
                      input.create-how-apply-label__radio(type='radio' name='applyUrl')
                      .create-how-apply-label__body Apply by URL
                  input.input.input--full(type='text' placeholder='Email' name='')
                  input.input.input__input(type='checkbox' name='' ng-model='job.applyUrl' id='apply-method')
                  label.create-type-job__label.label.label--fulltime(for='apply-method')  Url externa
            li(ng-show='applyUrl')
              label.create-form__label
              .create-form__input
                input.input.input--full(type='text' placeholder='URL' ng-model='job.APPLY_URL' name='APPLY_URL')
            li
              label.create-form__label Destacar essa vaga:
              .create-form__input
                label.create-terms
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  input.create-terms__input(type='checkbox' id='feature')
                  .create-terms__text
                  |  Sim, destacar por $25,00.
            li
              .create-form__label &nbsp;
              .create-form__input
                  label(for='terms')
                    input(type='checkbox' ng-model='terms' id='terms')
                    |  Concordo com os
                    |  <a href="">termos de uso</a>.

        .create-action
          button.create-action__btn.btn.btn--medium.btn--primary(ng-disabled='terms' ng-click='create(job)' type='submit') Continuar
  .create__cell.create__cell--aside

