.main
  .wrapper
    .job
      .job__cell.job__cell--main
        header.job__head
          .job-media
            a(href='{{ job.org.URL }}' target='_blank').job-media__img
              img(src='/img/template.png')
            .job-media__body
              h1.job__title {{ job.TITLE }} <span class="job__company">{{ "job.in" | translate }} {{ job.org.NAME }}</span>
          ul.job-info
            li
              .label(class="label--{{job.job_type.NAME}}") {{ job.job_type.NAME }}
            li
              img(src='/img/local.svg').job__icon
              .job__local {{ job.LOCATION }}
            li
              img(src='/img/calendar.svg').job__icon
              .job__date
                span(am-time-ago="job.createdAt")
            li
              i.mdi.mdi-tie
              span(translate='categories.{{ job.category.NAME }}')

            li.right
              .job__appliers
                strong
                  {{ job.job_appliers.length }}
                ng-pluralize(count="job.job_appliers.length" when="{'0': ' Applicant', '1': ' Applicant', 'other': ' Applicants'}")

        .job__body
          ul.job-social
            li
              //- twitter-button(user='bitvagass' class="twitter-share-button twitter-count-horizontal" href='http://bitvagas.com' text="Vaga" type="share")
              |  <iframe src="https://platform.twitter.com/widgets/tweet_button.1359159993.html#_=1360010161235&amp;count=horizontal&amp;id=twitter-widget-0&amp;lang=pt-BR&amp;size=m&amp;url=https://bitvagas.com/&amp;text=BitVagas - " class="twitter-share-button twitter-count-horizontal" data-twttr-rendered="true" allowtransparency="true" frameborder="0" scrolling="no" width="82" height="20"></iframe>
            li
                facebook-button(href="https://bitvagas.com" type="like")
            li(style='width: 74px;')
              //- |  <iframe src="https://plusone.google.com/_/+1/fastbutton?bsv&amp;size=medium&amp;hl=en-US&amp;url=https://bitvagas.com/&amp;parent=https://bitvagas.com/" allowtransparency="true" frameborder="0" scrolling="no" width="70" height="20"></iframe>
              | <div class="g-plusone" data-size="medium" data-href="https://bitvagas.com/#{ lang == "en" ? "" : lang + "/" }" data-href="https://bitvagas.com/"></div>

          p.job__description(ng-bind-html='job.DESCRIPTION')

          ul.job--tags
            li(ng-repeat='(index, tag) in job.TAGS')
              i.mdi.mdi-tag
              span {{ tag }}

          hr

        footer.job-foot
          div(ng-if='job.APPLY_URL === null')
            div(ng-if='!alreadyApplied')
              button#btn-apply.btn.btn--medium.btn--primary(ng-click="toggle()" ng-show="!toggled") Candidatar-se à vaga
            div(ng-if='alreadyApplied')
              p You have already applied to this job
          div(ng-if='job.APPLY_URL !== null')
            a.btn.btn--medium.btn--primary(href='{{ job.APPLY_URL }}' target='_blank') Candidatar-se à vaga

          form.job-form(ng-show="toggled" name='form' ng-submit='form.$valid && applyJob()')
            .job-form__head
              h6.job-apply__title
                | {{ "job.apply.title" | translate }} <span class="job-form__bold"> {{ job.TITLE }} </span> {{ "job.in" | translate }} <span class="job-form__bold">{{ job.org.NAME }}</span>
              hr
            .job-form__body
              ul.job-form__list
                li
                  .job-form__field(ng-if='isAuthenticated()')
                    {{ currentUser.NAME }}
                    div(ng-if="otherEmail === false")
                      {{ currentUser.EMAIL }}
                    p
                      a(href='#' ng-if="otherEmail === false" ng-click='other()')
                        Try other email
                      div(ng-if="otherEmail")
                        ng-input(theme='fumi' icon='icon icon--fumi mdi mdi-email' type='email' label='Email' name='EMAIL' ng-model='apply.EMAIL' ng-required='true')
                  .job-form__field(ng-if='!isAuthenticated()')
                    ng-input.job-form__input(theme='fumi' icon='icon icon--fumi mdi mdi-account' label='Name' name='NAME' ng-model='apply.NAME' ng-required='true')
                    br
                    br
                    ng-input.job-form__input(theme='fumi' icon='icon icon--fumi mdi mdi-email' type='email' label='Email' name='EMAIL' ng-model='apply.EMAIL' ng-required='true')
                li
                  .job-form__field
                    textarea.job-form__input.textarea.textarea--full(name='LINKS' rows='2' cols='45' ng-model='apply.LINKS' placeholder="{{ 'job.apply.links' | translate }}")
                li
                  .job-form__field
                    textarea.job-form__input.textarea.textarea--full(name='DESCRIPTION' rows='5' cols='45' ng-model='apply.DESCRIPTION' placeholder="{{ 'job.apply.description' | translate }}")

            input.job-action__btn.btn.btn--primary.btn--medium(type="submit" name="submit" value="{{ 'job.apply.button' | translate }}")

