block content
  .main
    .wrapper
      .job
        .job__cell.job__cell--main
          header.job-head
            h1.job-head__title Network Engineer
            h2.job-head-local Blockchain (Anywhere)
            .job-head__date Publicado 10 Dez
            .job-head__type Full Time
            ul.job-head-nav
              li
                a Website
          .job-body
            h6 Descrição do trabalho:
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            p
              a.btn.btn--medium.btn--primary(href='') Candidatar-se à vaga
          footer.job-foot
        .job__cell.job__cell--aside
          .last-jobs
            h3.last-jobs-title Últimas Vagas

            ul.last-jobs-list
              li
                a.last-jobs-list-item(href='')
                  h6.last-jobs-list-item__title Back-End Developer
                  ul.last-jobs-list-item__breadcrumb
                    li Presidente Prudente
                    li Empresa
                    li Freelance

              li
                a.last-jobs-list-item(href='')
                  h6.last-jobs-list-item__title Designer
                  ul.last-jobs-list-item__breadcrumb
                    li Presidente Prudente
                    li Empresa
                    li Fixo

              li
                a.last-jobs-list-item(href='')
                  h6.last-jobs-list-item__title Full Stack Developer
                  ul.last-jobs-list-item__breadcrumb
                    li Presidente Prudente
                    li Empresa
                    li Estágio

          .category
            h4.category__title Categorias
            ul.category__list
              li
                a(href='', title='Design (29)') Design (29)
              li
                a(href='', title='Desenvolvimento (21)') Desenvolvimento (21)
