aside.home-aside
  .home-post
    div(ng-if="!isAuthenticated()")
      a.home-post__btn.btn.btn--primary.btn--large(ui-sref='jobs-post' title='Postar Vaga Grátis' translate="explore.side_bar.btn")
    div(ng-if="isAuthenticated()")
      a.home-post__btn.btn.btn--primary.btn--large(ui-sref='dashboard.jobs.create' title='Postar Vaga Grátis' translate="explore.side_bar.btn")
