.create
  .create__cell.create__cell--main
    header.create__head
      h1.create__title(translate="post_job.title")

    ul
      li(ng-repeat='error in errors')
        label {{ error }}

    .create__body
      form(name="form")
        fieldset.create-fieldset
          legend.create-fieldset__legend(translate="post_job.company.title")
          ul.create-form
            li
              .create-form__input
                input.input.input--full(type='email', placeholder='{{ "post_job.company.email.title" | translate }}' name='EMAIL' ng-model='data.EMAIL' required)
                .create-form__help(translate="post_job.company.email.addon")
            li
              .create-form__input
                input.input.input--full(type='text' placeholder='{{ "post_job.company.name" | translate }}' name='ORG_NAME' ng-model='data.ORG_NAME' required)
            li
              .create-form__input
                input.input.input--full(type='url' placeholder='{{ "post_job.company.website.title" | translate }} http://' name='URL' ng-model='data.URL')
                .create-form__help(translate="post_job.company.website.addon")

        fieldset.create-fieldset
          legend.create-fieldset__legend(translate="post_job.job.title")
          ul.create-form
            li
              .create-form__input
                input.input.input--full(type='text' placeholder='{{ "post_job.job.name" | translate }}' name='TITLE' ng-model='data.TITLE' required)
            li
              .create-form__input
                ul.create-type-job
                  li
                    input.create-type-job__input(type='radio' name='job_typeID' value='1' id='rdl-fulltime' ng-model='data.TYPE_ID' required)
                    label.create-type-job__label.label.label--fulltime(for='rdl-fulltime' translate="post_job.job.type.full")
                  li
                    input.create-type-job__input(type='radio' name='job_typeID' value='2' id='rdl-parttime' ng-model='data.TYPE_ID' required)
                    label.create-type-job__label.label.label--parttime(for='rdl-parttime' translate="post_job.job.type.part")
                  li
                    input.create-type-job__input(type='radio' name='job_typeID' value='3' id='rdl-freelancer' ng-model='data.TYPE_ID' required)
                    label.create-type-job__label.label.label--freelance(for='rdl-freelancer' translate="post_job.job.type.freelancer")
                  li
                    input.create-type-job__input(type='radio' name='job_typeID' value='4' id='rdl-temporary' ng-model='data.TYPE_ID' required)
                    label.create-type-job__label.label.label--temporary(for='rdl-temporary' translate="post_job.job.type.temp")
            li
              .create-form__input
                textarea.textarea.textarea--full(placeholder='{{ "post_job.job.description" | translate }}' name='DESCRIPTION' ng-model='data.DESCRIPTION' rows='6' required)
            li
              .create-form__input
                div(data-pg-ng-dropdown name='categoryId' data-selected="0" data-text-property="NAME" data-options='categories')
            li
              .create-form__input
                input.input.input--full(type='text' placeholder='{{ "post_job.job.local" | translate }} ' name='location' ng-model='data.LOCATION' required)
            li
              .create-form__input
                .create-how-apply
                  .create-how-apply__input
                  label.create-how-apply-label
                    input.create-how-apply-label__radio(type='checkbox' name='applyUrl' ng-model='applyUrl' value='url')
                    .create-how-apply-label__body(translate="post_job.job.how_apply.value")
                input.input.input--full(type='text' placeholder='URL' ng-model='data.APPLY_BY' name='APPLY_URL' ng-show='applyUrl ')
            //- li
              //- label.create-form__label(translate="post_job.job.premium.title")
            //- li
              //- .create-form__input
                //- label.create-terms
                  //- p(translate="post_job.job.premium.value")
                  //- input.create-terms__input(type='checkbox' id='feature')
                  //- .create-terms__text
                  //- |  Sim, destacar por $25,00.
            li
              .create-form__input
                  label(for='terms')
                    input(type='checkbox' ng-model='terms' id='terms')
                    |  <a ui-sref="terms" target="_blank" translate="post_job.job.terms"></a>

        .create-action
          button.create-action__btn.btn.btn--medium.btn--primary(ng-disabled='!terms' ng-click="create()" type='submit' translate="post_job.job.continue")
  .create__cell.create__cell--aside

