.search
  input.search__input(name='', type='text', placeholder='{{ "explore.search.placeholder" | translate }}')
  a.search__btn.btn(href='' translate='explore.search.button')

.typejob
  ul.typejob__list
    li
      label(for='').typejob-label
        .typejob-label__checkbox
        input(type='checkbox' checked).typejob-label__input
        .typejob-label__text.label.label--fulltime(translate="explore.search.type.full")
    li
      label(for='').typejob-label
        input(type='checkbox' checked).typejob-label__input
        .typejob-label__text.label.label--parttime(translate="explore.search.type.part")
    li
      label(for='').typejob-label
        input(type='checkbox' checked).typejob-label__input
        .typejob-label__text.label.label--temporary(translate="explore.search.type.temp")

h2.jobs-title(translate="explore.last")
ul.jobs
  li(ng-repeat='job in jobs')
    a.jobs-item(ui-sref='jobs-show({id : job.id})', title='')
      .jobs-item__cell.jobs-item__cell--img
        img.jobs-item__img(src='/img/company-default.png', alt='')

      .jobs-item__cell.jobs-item__cell--body
        h2.jobs-item__title {{ job.TITLE }}
        h3.jobs-item__company {{ job.LOCATION }}

      .jobs-item__cell.jobs-item__cell--meta
        .jobs-item__type
          .label.label--fulltime {{ job.job_type.NAME }}
        .jobs-item__date {{ job.createdAt | date }}

ul.pagination
  li.current
    a(href='') 1
  li
    a(href='') 2
  li
    a(href='') 3
  li
    a(href='') Next &raquo;
