
h1.slogan
  | Anúncie Vagas de empregos
  br
  | Pague com Moeda Digital

.home
  .home-main
    .search
      input.search__input(name='', type='text', placeholder='Buscar Vagas, Empresas, Locais...')
      button.search__btn Buscar

    ul.jobs
      li
        a.jobs-item(href='', title='')
          .jobs-item__cell.jobs-item__cell--img
            img.jobs-item__img(src='/img/company-default.png', alt='')

          .jobs-item__cell.jobs-item__cell--body
            h2.jobs-item__title Front-End Developer
            h3.jobs-item__company Blockchain

          .jobs-item__cell.jobs-item__cell--city
            .jobs-item__city
              | London

          .jobs-item__cell.jobs-item__cell--meta
            .jobs-item__type Full Time
            .jobs-item__date 01 Nov

      li
        a.jobs-item(href='', title='')
          .jobs-item__cell.jobs-item__cell--img
            img.jobs-item__img(src='/img/company-default.png', alt='')

          .jobs-item__cell.jobs-item__cell--body
            h2.jobs-item__title Front-End Developer
            h3.jobs-item__company Blockchain

          .jobs-item__cell.jobs-item__cell--city
            .jobs-item__city
              | London

          .jobs-item__cell.jobs-item__cell--meta
            .jobs-item__type Part Time
            .jobs-item__date 01 Nov

      li
        a.jobs-item(href='', title='')
          .jobs-item__cell.jobs-item__cell--img
            img.jobs-item__img(src='/img/company-default.png', alt='')

          .jobs-item__cell.jobs-item__cell--body
            h2.jobs-item__title Front-End Developer
            h3.jobs-item__company Blockchain

          .jobs-item__cell.jobs-item__cell--city
            .jobs-item__city
              | London

          .jobs-item__cell.jobs-item__cell--meta
            .jobs-item__type Freelance
            .jobs-item__date 01 Nov

      li
        a.jobs-item(href='', title='')
          .jobs-item__cell.jobs-item__cell--img
            img.jobs-item__img(src='/img/company-default.png', alt='')

          .jobs-item__cell.jobs-item__cell--body
            h2.jobs-item__title Front-End Developer
            h3.jobs-item__company Blockchain

          .jobs-item__cell.jobs-item__cell--city
            .jobs-item__city
              | London

          .jobs-item__cell.jobs-item__cell--meta
            .jobs-item__type Temporary
            .jobs-item__date 01 Nov

  aside.home-aside
    a.btn.btn--primary.btn--large(href='', title='Postar Vaga Grátis') Postar Vaga Grátis

    .last-jobs
      h3.last-jobs-title Últimas Vagas

      ul.last-jobs-list
        li
          a.last-jobs-list-item(href='')
            h6.last-jobs-list-item__title Back-End Developer

            ul.last-jobs-list-item__breadcrumb
              li Presidente Prudente
              li Empresa
              li Freelance

        li
          a.last-jobs-list-item(href='')
            h6.last-jobs-list-item__title Designer

            ul.last-jobs-list-item__breadcrumb
              li Presidente Prudente
              li Empresa
              li Fixo

        li
          a.last-jobs-list-item(href='')
            h6.last-jobs-list-item__title Full Stack Developer

            ul.last-jobs-list-item__breadcrumb
              li Presidente Prudente
              li Empresa
              li Estágio

    .category
      h4.category__title Categorias
      ul.category__list
        li
          a(href='', title='Todas as Vagas (40)') Todas as Vagas (40)
        li
          a(href='', title='Design (29)') Design (29)
        li
          a(href='', title='Desenvolvimento (21)') Desenvolvimento (21)
