
aside.home-aside
  .home-post
    a.home-post__btn.btn.btn--primary.btn--large(href='/#/jobs/post', title='Postar Vaga Grátis' translate="explore.side_bar.btn")
    //- p.home-post__info(translate="explore.side_bar.info")

  .category
    h4.category__title(translate="explore.side_bar.category")
    ul.category__list
      li
        a(href='') Todas as Vagas (50)
      li
        a(href='') Design (29)
      li
        a(href='') Desenvolvimento (21)

  //- h4 Apoiar com Doações
