update-title(title="{{ job.TITLE }} | BitVagas")
update-meta(itemprop="description" content="{{ job.TITLE }} - {{ job.org.NAME }} | BitVagas")
update-meta(itemprop="keywords" content="BitVagas, Bitcoin, Freelancer, Vagas Bitcoin, Freelancers Bitcoin, Bitcoin Jobs, Jobs, platform jobs, {{ tags }}")
update-meta(itemprop="og:title" content="{{ job.TITLE }} - {{ job.org.NAME }} | BitVagas")
update-meta(itemprop="og:description" content="{{ job.TITLE }} - {{ job.org.NAME }} | BitVagas")
update-meta(itemprop="og:url" content="https://bitvagas.com/{{ url }}")
update-meta(itemprop="twitter:title" content="{{ job.TITLE }} - {{ job.org.NAME }} | BitVagas")
update-meta(itemprop="twitter:description" content="{{ job.TITLE }} - {{ job.org.NAME }} | BitVagas")
.main
  .wrapper
    .job
      .job__cell.job__cell--main
        header.job__head
          .job-media
            a(href='{{ job.org.URL }}' rel="noopener noreferrer" target='_blank').job-media__img
              img(src='/img/template.png')
            .job-media__body
              h1.job__title {{ job.TITLE }} <span class="job__company">- {{ job.org.NAME }}</span>
          ul.job-info
            li
              .label(class="label--{{job.job_type.NAME}}") {{ job.job_type.NAME }}
            li
              img(src='/img/local.svg').job__icon
              .job__local {{ job.LOCATION }}
            li
              img(src='/img/calendar.svg').job__icon
              .job__date
                span(am-time-ago="job.createdAt")
            li
              i.mdi.mdi-tie
              span(translate='categories.{{ job.category.NAME }}')

        .job__body
          ul.job-social
            li
              a(href="https://twitter.com/share" class="twitter-share-button" data-via="BitVagas" data-hashtags="bitcoin,freelancer") Tweet
            li
              .fb-share-button(data-layout="button_count" data-mobile-iframe="true")

          p.job__description(ng-bind-html='job.DESCRIPTION')

          ul.job--tags
            li(ng-repeat='(index, tag) in job.TAGS')
              i.mdi.mdi-tag
              span {{ tag }}

          hr

        footer.job-foot.job-form
          .job__apply
            div(ng-if='job.APPLY_URL === null')
              div(ng-if='!alreadyApplied')
                button#btn-apply.btn.btn--medium.btn--primary(ng-click="toggle()" ng-show="!toggled" translate="job.button")
              .job-form__head(ng-show='toggled')
                span.job-apply__title
                  | {{ "job.apply.title" | translate }} <strong class="job-form__bold"> {{ job.TITLE }} </strong> - <span class="job-form__bold">{{ job.org.NAME }}</span>
              div(ng-if='alreadyApplied')
                h6(translate='job.apply.already_applied') You have already applied to this job
            div(ng-if='job.APPLY_URL !== null')
              a.btn.btn--medium.btn--primary(href='{{ job.APPLY_URL }}' target='_blank' translate="job.button" rel="noopener noreferrer")
            .job__appliers
              h2(ng-bind='job.job_appliers.length')
              span(translate="job.applicant" translate-values="{appliers: 4}" translate-interpolation="messageformat")

          form(ng-show="toggled" name='form' ng-submit='form.$valid && applyJob()')
            hr
            .job-form__body
              ul.job-form__list
                li
                  .job-form__field(ng-if='isAuthenticated()')
                    {{ currentUser.NAME }}
                    div(ng-if="otherEmail === false")
                      {{ currentUser.EMAIL }}
                    p
                      a(href='#' ng-if="otherEmail === false" ng-click='other()')
                        Try other email
                      div(ng-if="otherEmail")
                        ng-input(theme='fumi' icon='icon icon--fumi mdi mdi-email' type='email' label='Email' name='EMAIL' ng-model='apply.EMAIL' ng-required='true')
                  .job-form__field(ng-if='!isAuthenticated()')
                    ng-input.job-form__input(theme='fumi' icon='icon icon--fumi mdi mdi-account' label='Name' name='NAME' ng-model='apply.NAME' ng-required='true')
                    br
                    br
                    ng-input.job-form__input(theme='fumi' icon='icon icon--fumi mdi mdi-email' type='email' label='Email' name='EMAIL' ng-model='apply.EMAIL' ng-required='true')
                li
                  .job-form__field
                    textarea.job-form__input.textarea.textarea--full(name='LINKS' rows='2' cols='45' ng-model='apply.LINKS' placeholder="{{ 'job.apply.links' | translate }}")
                li
                  .job-form__field
                    textarea.job-form__input.textarea.textarea--full(name='DESCRIPTION' rows='5' cols='45' ng-model='apply.DESCRIPTION' placeholder="{{ 'job.apply.description' | translate }}")

            input.job-action__btn.btn.btn--primary.btn--medium(type="submit" name="submit" value="{{ 'job.apply.button' | translate }}")

