
aside.home-aside
  .home-post
    a.home-post__btn.btn.btn--primary.btn--large(href='/#/jobs/post', title='Postar Vaga Grátis') Postar Vaga Grátis
    p.home-post__info Anuncie por 30 dias grátis

  .category
    h4.category__title Categorias
    ul.category__list
      li
        a(href='') Todas as Vagas (50)
      li
        a(href='') Design (29)
      li
        a(href='') Desenvolvimento (21)

  h4 Apoiar com Doações
