.main
  .wrapper
    .job
      .job__cell.job__cell--main
        header.job-head
            h1.job-head__title {{ job.TITLE }}
          h2.job-head-local {{ job.LOCATION }}
          .job-head__date {{ job.createdAt | date }}
          .job-head__type {{ job.jobType.NAME }}
          ul.job-head-nav

            li
              a Website
        .job-body
          h6 Descrição do trabalho:
          p {{ job.DESCRIPTION }}
          p
            a.btn.btn--medium.btn--primary(href='') Candidatar-se à vaga
        footer.job-foot
      .job__cell.job__cell--aside
        .last-jobs
          h3.last-jobs-title Últimas Vagas

          ul.last-jobs-list
            li
              a.last-jobs-list-item(href='')
                h6.last-jobs-list-item__title Back-End Developer
                ul.last-jobs-list-item__breadcrumb
                  li Presidente Prudente
                  li Empresa
                  li Freelance

            li
              a.last-jobs-list-item(href='')
                h6.last-jobs-list-item__title Designer
                ul.last-jobs-list-item__breadcrumb
                  li Presidente Prudente
                  li Empresa
                  li Fixo

            li
              a.last-jobs-list-item(href='')
                h6.last-jobs-list-item__title Full Stack Developer
                ul.last-jobs-list-item__breadcrumb
                  li Presidente Prudente
                  li Empresa
                  li Estágio

        .category
          h4.category__title Categorias
          ul.category__list
            li
              a(href='', title='Design (29)') Design (29)
            li
              a(href='', title='Desenvolvimento (21)') Desenvolvimento (21)
