h1.slogan
  | Anúncie Vagas <span class="slogan__normal">de empregos</span>
  br
  | Pague com <span class="slogan__normal">Moeda Digital</span>

.home
  .home-main
    .search
      input.search__input(name='', type='text', placeholder='Buscar Vagas, Empresas, Locais...')
      a.search__btn.btn(href='') Buscar

    h2.jobs-title Vagas em Destaque
    ul.jobs.jobs--featured
      li
        a.jobs-item.jobs-item--fulltime(href='', title='')
          .jobs-item__cell.jobs-item__cell--img
            img.jobs-item__img(src='/img/company-default.png', alt='')

          .jobs-item__cell.jobs-item__cell--body
            h2.jobs-item__title Front-End Developer
            h3.jobs-item__company Blockchain (London)

          .jobs-item__cell.jobs-item__cell--meta
            .jobs-item__type
              .label.label--fulltime Full Time
            .jobs-item__date 01 Nov

      li
        a.jobs-item.jobs-item--parttime(href='', title='')
          .jobs-item__cell.jobs-item__cell--img
            img.jobs-item__img(src='/img/company-default.png', alt='')

          .jobs-item__cell.jobs-item__cell--body
            h2.jobs-item__title Front-End Developer
            h3.jobs-item__company Blockchain (London)

          .jobs-item__cell.jobs-item__cell--meta
            .jobs-item__type
              .label.label--parttime Part Time
            .jobs-item__date 01 Nov

    h2.jobs-title Últimas Vagas
    ul.jobs
      li
        a.jobs-item(href='', title='')
          .jobs-item__cell.jobs-item__cell--img
            img.jobs-item__img(src='/img/company-default.png', alt='')

          .jobs-item__cell.jobs-item__cell--body
            h2.jobs-item__title Front-End Developer
            h3.jobs-item__company Blockchain (London)

          .jobs-item__cell.jobs-item__cell--meta
            .jobs-item__type
              .label.label--fulltime Full Time
            .jobs-item__date 01 Nov

      li
        a.jobs-item(href='', title='')
          .jobs-item__cell.jobs-item__cell--img
            img.jobs-item__img(src='/img/company-default.png', alt='')

          .jobs-item__cell.jobs-item__cell--body
            h2.jobs-item__title Front-End Developer
            h3.jobs-item__company Blockchain (London)

          .jobs-item__cell.jobs-item__cell--meta
            .jobs-item__type
              .label.label--parttime Part Time
            .jobs-item__date 01 Nov

      li
        a.jobs-item(href='', title='')
          .jobs-item__cell.jobs-item__cell--img
            img.jobs-item__img(src='/img/company-default.png', alt='')

          .jobs-item__cell.jobs-item__cell--body
            h2.jobs-item__title Front-End Developer
            h3.jobs-item__company Blockchain (London)

          .jobs-item__cell.jobs-item__cell--meta
            .jobs-item__type
              .label.label--freelance Freelance
            .jobs-item__date 01 Nov

      li
        a.jobs-item(href='', title='')
          .jobs-item__cell.jobs-item__cell--img
            img.jobs-item__img(src='/img/company-default.png', alt='')

          .jobs-item__cell.jobs-item__cell--body
            h2.jobs-item__title Front-End Developer
            h3.jobs-item__company Blockchain (London)

          .jobs-item__cell.jobs-item__cell--meta
            .jobs-item__type
              .label.label--temporary Temporary
            .jobs-item__date 01 Nov

    ul.pagination
      li.current
        a(href='') 1
      li
        a(href='') 2
      li
        a(href='') 3
      li
        a(href='') Next &raquo;

  aside.home-aside
    .home-post
      a.home-post__btn.btn.btn--primary.btn--large(href='', title='Postar Vaga Grátis') Postar Vaga Grátis
      p.home-post__info Anuncie por 30 dias grátis

    .category
      h4.category__title Categorias
      ul.category__list
        li
          a(href='', title='Design (29)') Design (29)
        li
          a(href='', title='Desenvolvimento (21)') Desenvolvimento (21)

    h4 Apoiar com Doações
