.main
  .wrapper
    .job
      .job__cell.job__cell--main
        header.job-head
          h1.job-head__title {{ data.TITLE }}
          h2.job-head-local {{ data.LOCATION }}
          .job-head__date {{ data.createdAt | date }}
          .job-head__type {{ data.jobType.NAME }}
          h3.job-head-local {{ data.org.NAME }}
          ul.job-head-nav
            li
              a(href="{{ job.org.URL }}") {{ data.org.URL }} 
        .job-body
          h6 Descrição do trabalho:
          p {{ data.DESCRIPTION }}
          p
            button.btn.btn--medium.btn--primary(ng-click='confirm(data)') Confirmar Vaga
