.create
  .job__cell.job__cell--main.job__cell--main
    header.create__head
      h1.create__title(translate="post_job.title")

    .job--steps
      ol
        li.active
          .separate
          span(translate='dashboard.jobs.create')
        li
          .separate
          span(translate='dashboard.jobs.preview')
        li
          .separate
          span(translate='dashboard.jobs.confirm')
    .create__body
      form(name="form")
        fieldset.create-fieldset
          legend.create-fieldset__legend(translate="post_job.company.title")
          ul.create-form
            li
              .create-form__input
                ng-input(theme='fumi' type='email' icon='icon icon--fumi mdi mdi-email' label='{{ "post_job.company.email.title" | translate }}' name='EMAIL' ng-model='data.EMAIL' ng-required='true')
                .create-form__help(translate="post_job.company.email.addon")
            li
              .create-form__input
                ng-input(theme='fumi' type='text' icon='icon icon--fumi mdi mdi-bank' label='{{ "post_job.company.name" | translate }}' name='ORG_NAME' ng-model='data.ORG_NAME' ng-required='true')
            li
              .create-form__input
                ng-input(theme='fumi' type='url' icon='icon icon--fumi mdi mdi-link' label='{{ "post_job.company.website.title" | translate }} http://' name='URL' ng-model='data.URL')
                .create-form__help(translate="post_job.company.website.addon")

        fieldset.create-fieldset
          legend.create-fieldset__legend(translate="post_job.job.title")
          ul.create-form
            li
              .create-form__input
                ng-input(theme='fumi' type='text' icon='icon icon--fumi mdi mdi-tie' label='{{ "post_job.job.name" | translate }}' name='TITLE' ng-model='data.TITLE' ng-required='true')
            li
              .create-form__input
                ul.create-type-job
                  li
                    input.create-type-job__input(type='radio' name='job_typeID' value='1' id='rdl-fulltime' ng-model='data.TYPE_ID' ng-required='true')
                    label.create-type-job__label.label.label--fulltime(for='rdl-fulltime' translate="post_job.job.type.full")
                  li
                    input.create-type-job__input(type='radio' name='job_typeID' value='2' id='rdl-parttime' ng-model='data.TYPE_ID' ng-required='true')
                    label.create-type-job__label.label.label--parttime(for='rdl-parttime' translate="post_job.job.type.part")
                  li
                    input.create-type-job__input(type='radio' name='job_typeID' value='3' id='rdl-freelancer' ng-model='data.TYPE_ID' ng-required='true')
                    label.create-type-job__label.label.label--freelance(for='rdl-freelancer' translate="post_job.job.type.freelancer")
                  li
                    input.create-type-job__input(type='radio' name='job_typeID' value='4' id='rdl-temporary' ng-model='data.TYPE_ID' ng-required='true')
                    label.create-type-job__label.label.label--temporary(for='rdl-temporary' translate="post_job.job.type.temp")
            li
              .create-form__input
                textarea.textarea.textarea--full(id='markdown__editor' placeholder='{{ "post_job.job.description" | translate }}' name='DESCRIPTION' ng-model='data.DESCRIPTION' rows='10' cols='50')
            li
              .create-form__input
                div(data-pg-ng-dropdown name='categoryId' data-selected="1" data-text-property="NAME" data-options='categories')
            li
              .create-form__input
                ng-input(theme='fumi' type='text' icon='icon icon--fumi mdi mdi-map-marker-radius' label='{{ "post_job.job.local" | translate }}' name='location' ng-model='data.JOB_LOCATION' ng-required='true')
            li
              .create-form__input
                tags-input(ng-model="tags" name="TAGS" placeholder="Add a tag to your job")
            li
              .create-form__input
                .create-how-apply
                  .create-how-apply__input
                  label.create-how-apply-label
                    input.create-how-apply-label__radio(type='checkbox' name='applyUrl' ng-model='applyUrl' value='url')
                    .create-how-apply-label__body(translate="post_job.job.how_apply.value")
                div(ng-if='applyUrl === true')
                  br
                  ng-input(theme='fumi' type='text' icon='icon icon--fumi mdi mdi-link' label='URL' ng-model='data.APPLY_URL' name='APPLY_URL')
            //- li
              //- label.create-form__label(translate="post_job.job.premium.title")
            //- li
              //- .create-form__input
                //- label.create-terms
                  //- p(translate="post_job.job.premium.value")
                  //- input.create-terms__input(type='checkbox' id='feature')
                  //- .create-terms__text
                  //- |  Sim, destacar por $25,00.
            li
              .create-form__input
                  label(for='terms')
                    input(type='checkbox' ng-model='terms' id='terms')
                    |  <a ui-sref="terms" target="_blank" translate="post_job.job.terms"></a>

        .create-action
          button.create-action__btn.btn.btn--medium.btn--primary(ng-disabled='!terms' ng-click="create()" type='submit' translate="post_job.job.continue")
  .create__cell.create__cell--aside

