.main
  .wrapper
    .job
      .job__cell.job__cell--main
        header.job__head
          .job-media
            a(href='{{ job.org.URL }}' target='_blank').job-media__img
              img(src='/img/template.png')
            .job-media__body
              h1.job__title {{ job.TITLE }} <span class="job__company">{{ "job.in" | translate }} {{ job.org.NAME }}</span>
          ul.job-info
            li
              |  <div class="label label--fulltime">Full-Time{{ job.jobType.NAME }}</div>
            li
              img(src='/img/local.svg').job__icon
              .job__local {{ job.LOCATION }}
            li
              img(src='/img/calendar.svg').job__icon
              .job__date {{ job.createdAt | date }}

        .job__body
          ul.job-social
            li
              //- twitter-button(user='bitvagass' class="twitter-share-button twitter-count-horizontal" href='http://bitvagas.com' text="Vaga" type="share")
              |  <iframe src="http://platform.twitter.com/widgets/tweet_button.1359159993.html#_=1360010161235&amp;count=horizontal&amp;id=twitter-widget-0&amp;lang=pt-BR&amp;size=m&amp;url=http://bitvagas.com/&amp;text=BitVagas - " class="twitter-share-button twitter-count-horizontal" data-twttr-rendered="true" allowtransparency="true" frameborder="0" scrolling="no" width="82" height="20"></iframe>
            li
                facebook-button(href="http://bitvagas.com" type="like")
            li(style='width: 74px;')
              //- |  <iframe src="https://plusone.google.com/_/+1/fastbutton?bsv&amp;size=medium&amp;hl=en-US&amp;url=http://bitvagas.com/&amp;parent=http://bitvagas.com/" allowtransparency="true" frameborder="0" scrolling="no" width="70" height="20"></iframe>
              | <div class="g-plusone" data-size="medium" data-href="http://bitvagas.com/#{ lang == "en" ? "" : lang + "/" }" data-href="http://bitvagas.com/"></div>

          h6(translate="job.description")
          p.job__description {{ job.DESCRIPTION }}

        footer.job-foot
          button#btn-apply.btn.btn--medium.btn--primary(ng-click="apply()" ng-show="!applied") Candidatar-se à vaga

          form#form-apply.job-form(action="https://docs.google.com/forms/d/1AIBX-zjbQ_edm4ZdCqqrUixKj7Cpvb2tjwFSTWpzSpw/formResponse" method="POST" target="_self" ng-show="applied")
            .job-form__head
              h6.job-apply__title
                | {{ "job.apply.title" | translate }} <span class="job-form__bold"> {{ job.TITLE }} </span> {{ "job.in" | translate }} <span class="job-form__bold">{{ job.org.NAME }}</span>
              hr
            .job-form__body
              ul.job-form__list
                li
                  .job-form__field
                    ng-input.job-form__input(theme='fumi' icon='icon icon--fumi mdi mdi-email' type='email', label='Email', name='EMAIL', ng-required='true')
                li
                  .job-form__field
                    textarea#entry_944889134.job-form__input.textarea.textarea--full(name='entry.944889134', placeholder='{{ "job.apply.links" | translate }}', rows='1', cols='0', dir='auto', aria-label='Reference Links:  Precisa ter pelo menos 20 caracteres.', aria-required='true', required='')
                li
                  .job-form__field
                    textarea#entry_1496250376.job-form__input.textarea.textarea--full(name='entry.1496250376', rows='5', cols='0', dir='auto', placeholder="{{ 'job.apply.description' | translate }}" aria-label='Cover Letter:  Precisa ter pelo menos 100 caracteres.', aria-required='true', required='')

            .job-action
              input#ss-submit.job-action__btn.btn.btn--primary.btn--medium(type="submit" name="submit" value="{{ 'job.apply.button' | translate }}")

