.job
  div
    header.create__head
      h1.create__title(translate='post_job.confirm.title')
    .job--steps
      ol
        li
          .separate
          span Create Job
        li.active
          .separate
          span Preview
        li
          .separate
          span Confirm
    .create__body
      .job-media
        a(href='{{ job.org.URL }}' target='_blank').job-media__img
          img(src='/img/template.png')
        .job-media__body
          h1.job__title {{ data.TITLE }} <span class="job__company">{{ "job.in" | translate }} {{ data.ORG_NAME }}</span>
      ul.job-info
        li
          |  <div class="label label--{{ data.TYPE_NAME }}">{{ data.TYPE_NAME }}</div>
        li
          img(src='/img/local.svg').job__icon
          .job__local {{ data.LOCATION }}

      h6(translate="job.description")
      p.job__description(ng-bind-html='data.DESCRIPTION')

      footer.job-foot
        button.btn.btn--medium(ng-click='unconfirm(data)') Voltar
        button.btn.btn--medium.btn--primary(ng-click='confirm(data)' style='margin-left: 20px') Confirmar Vaga
