h2 Jobs

a.btn.btn--medium.btn--primary(ui-sref='dashboard.jobs.create') New Job

ul.jobs
  li(ng-repeat='job in jobs')
    a.jobs-item(href="#" ng-click="toggle($index, job.id)" ng-model="open" title='')
      .jobs-item__cell.jobs-item__cell--img
        img.jobs-item__img(src='/img/company-default.png', alt='')

      .jobs-item__cell.jobs-item__cell--body
        h2.jobs-item__title {{ job.TITLE }}
        h3.jobs-item__company {{ job.LOCATION }}

      .jobs-item__cell.jobs-item__cell--meta
        .jobs-item__type
          .label.label--fulltime {{ job.job_type.NAME }}
        .jobs-item__date {{ job.createdAt | date }}
    .accodion(ng-show="$parent.open == $index")
      p Nenhuma pessoa aplicou para esta vaga ainda
      .premium(ng-show="{{ !job.PREMIUM }}")
        h5
          a(href="#") Destacar vaga $ 25,00
        iframe(id="coinbase_inline_iframe_6d111844c2041be4fdbdd1b3df5eaab5" src="{{url}}" style="width: 460px; height: 350px; border: none; box-shadow: 0 1px 3px rgba(0,0,0,0.25);" allowtransparency="true" frameborder="0")

      .premium(ng-show="{{ job.PREMIUM }}")
        h2 Vaga Premium
        h5(ng-repeat="t in job.job_transactions")
          a(href="https://blockchain.info/tx/{{ t.TRANSACTION }}") Transação {{ t.TRANSACTION }}
