.create(style="margin-left: 0;")
  h2 Criar Vaga

  ul
    li(ng-repeat='error in errors')
      label {{ error }}

  .create__body
    form(name="form")

      fieldset.create-fieldset
        legend.create-fieldset__legend Sobre a vaga
        ul.create-form
          li
            label.create-form__label Organização
            select.select.select--full(name="ORG_ID" ng-model="data.ORG_ID")
              option(ng-repeat="org in orgs" value="{{ org.id }}")
                {{ org.NAME }}
          li
            label.create-form__label Título da vaga:
            .create-form__input
              input.input.input--full(type='text' name='TITLE' ng-model='data.TITLE' required)
          li
            label.create-form__label Tipo da vaga:
            .create-form__input
              ul.create-type-job
                li
                  input.create-type-job__input(type='radio' name='job_typeID' value='1' id='rdl-fulltime' ng-model='data.TYPE_ID' required)
                  label.create-type-job__label.label.label--fulltime(for='rdl-fulltime') Full-time
                li
                  input.create-type-job__input(type='radio' name='job_typeID' value='2' id='rdl-parttime' ng-model='data.TYPE_ID' required)
                  label.create-type-job__label.label.label--parttime(for='rdl-parttime') Part-time
                li
                  input.create-type-job__input(type='radio' name='job_typeID' value='3' id='rdl-freelance' ng-model='data.TYPE_ID' required)
                  label.create-type-job__label.label.label--freelance(for='rdl-freelance') Freelance
                li
                  input.create-type-job__input(type='radio' name='job_typeID' value='4' id='rdl-temporary' ng-model='data.TYPE_ID' required)
                  label.create-type-job__label.label.label--temporary(for='rdl-temporary') Temporary
          li
            label.create-form__label Descrição:
            .create-form__input
              textarea.textarea.textarea--full(placeholder='Descrição' name='DESCRIPTION' ng-model='data.DESCRIPTION' rows='6' required)
          li
            label.create-form__label Categoria:
            .create-form__input
              select.select.select--full(name='categoryId' ng-model='data.CATEGORY_ID' required)
                  option(ng-repeat='category in categories' value='{{category.id}}')
                      {{category.NAME}}
          li
            label.create-form__label Local:
            .create-form__input
              input.input.input--full(type='text' placeholder='' name='location' ng-model='data.LOCATION' required)
          li
            label.create-form__label Como aplicar
            .create-form__input
              .create-how-apply
                .create-how-apply__input
                  //- label.create-how-apply-label
                    //- input.create-how-apply-label__radio(type='radio' name='applyBy' checked ng-model='applyMethod' value='email')
                    //- .create-how-apply-label__body Apply by Email
                  //- label.create-how-apply-label
                    //- input.create-how-apply-label__radio(type='radio' name='applyBy' ng-model='applyMethod' value='url')
                    //- .create-how-apply-label__body Apply by URL
                //- input.input.input--full(type='text' placeholder='Email' ng-model='data.APPLY_BY' name='APPLY_BY' ng-show='applyMethod == "email"')

                  label.create-how-apply-label
                    input.create-how-apply-label__radio(type='checkbox' name='applyUrl' ng-model='applyUrl' value='url')
                input.input.input--full(type='text' placeholder='URL' ng-model='data.APPLY_BY' name='APPLY_URL' ng-show='applyUrl ')
          li
            label.create-form__label Destacar essa vaga:
            .create-form__input
              label.create-terms
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                input.create-terms__input(type='checkbox' id='feature')
                .create-terms__text
                |  Sim, destacar por $25,00.
          li
            .create-form__label &nbsp;
            .create-form__input
                label(for='terms')
                  input(type='checkbox' ng-model='terms' id='terms')
                  |  Concordo com os
                  |  <a ui-sref="terms">termos de uso</a>.

      .create-action
        button.create-action__btn.btn.btn--medium.btn--primary(ng-disabled='!terms' ng-click="create()" type='submit') Continuar
