ul.breadcrumb
  li
    a(href='/#/') Home
  li
    span >
  li
    span DashBoard
.dashboard
  header.dashboard__head
  .dashboard__body
    aside.dashboard__cell.dashboard__cell--aside
      .dashboard-aside
        img(ng-src="{{ currentUser.PICTURE ? currentUser.PICTURE : 'img/unknown.svg' }}").dashboard__img
        h5 {{ currentUser.NAME }}
        .profile--info
          p
            i.mdi.mdi-email
            |  {{ currentUser.EMAIL }}
          p
            i.mdi.mdi-clock
            |   Joined on {{ currentUser.createdAt | date }}
        p(ng-if="currentUser.LINKEDIN_ID === null")
          a.linkedin(ng-click='linkedIn()')
            i.mdi.mdi-linkedin-box
            |  Conectar LinkedIn

        ul.dashboard-nav
          li
            a(ui-sref='dashboard.overview') Visao Geral
          li
            a(ui-sref='dashboard.profile') Minha Conta
          li
            a(ui-sref='dashboard.cv({id : user.id})') Meu Curriculo
          li
            a(ui-sref='dashboard.jobs.list') Minhas Vagas
          li
            a(ui-sref='dashboard.organization.list') Minhas Organizações

    section(ui-view='').dashboard__cell.dashboard__cell--main
