ul.breadcrumb
  li
    a(href='/#/') Home
  li
    span >
  li
    span DashBoard
.dashboard
  header.dashboard__head
  .dashboard__body
    aside.dashboard__cell.dashboard__cell--aside
      .dashboard-aside
        img(ng-src="{{ currentUser.PICTURE ? currentUser.PICTURE : 'img/unknown.svg' }}").dashboard__img
        h5 {{ currentUser.NAME }}
        .profile--info
          p
            |  {{ currentUser.EMAIL }}
            i.mdi.mdi-email
          p(ng-if="currentUser.LOCATION !== null")
            span  {{ currentUser.LOCATION }}
            i.mdi.mdi-map-marker-radius
          p
            |   Joined on {{ currentUser.createdAt | date }}
            i.mdi.mdi-clock
        p(ng-if="currentUser.LINKEDIN_ID === null")
          a.linkedin(ng-click='linkedIn()')
            i.mdi.mdi-linkedin-box
            |  Conectar LinkedIn
        hr
        ul.dashboard-nav
          li
            a(ui-sref='dashboard.overview')
              span Visao Geral
              i.mdi
                | <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                |   <path fill="#fff" d="M12.04,2.5L9.53,5H14.53L12.04,2.5M4,7V20H20V7H4M12,0L17,5V5H20A2,2 0 0,1 22,7V20A2,2 0 0,1 20,22H4A2,2 0 0,1 2,20V7A2,2 0 0,1 4,5H7V5L12,0M7,18V14H12V18H7M14,17V10H18V17H14M6,12V9H11V12H6Z" />
                | </svg>
          li
            a(ui-sref='dashboard.profile')
              span Minha Conta
              i.mdi.mdi-account
          li
            a(ui-sref='dashboard.cv({id : user.id})')
              span Meu Curriculo
              i.mdi.mdi-linkedin-box
          li
            a(ui-sref='dashboard.jobs.list')
              span Minhas Vagas
              i.mdi.mdi-tie
          li
            a(ui-sref='dashboard.organization.list')
              span Minhas Organizações
              i.mdi.mdi-earth

    section(ui-view='').dashboard__cell.dashboard__cell--main
