.auth
  .main
    margin: 10% auto
    width: 40%
    text-align: center
    border-radius: 4px

    hr.line
      margin-top: 10px
      margin-bottom: 20px

    .errorMessage
      color: #FF4545

    .auth
      margin-top: 15px

    .signup-action
      padding-left: 0
