.signin
  .main
    margin: 5% auto
    padding: 20px
    width: 50%
    border-radius: 5px

    .auth
      margin-top: 15px
      text-align:center

      .login__btn
        padding: 11px 18px

      .login__btn
        width: 100%
        margin-top:5px

      div.labels
        margin-top:20px
