.dashboard__body
  +cf
  margin-bottom: 24px
  +media-query(desk)
    margin-left: -24px

.dashboard__cell
  +media-query(desk)
    float: left
    padding-left: 24px

.dashboard__cell--main
  +media-query(desk)
    width: 70%

.dashboard__cell--aside
  +media-query(desk)
    width: 30%

.dashboard__img
  border-radius: 50%
  box-shadow: 0 3px 2px rgba(0,0,0,0.3)
  border: 5px solid #eee
  height: 150px
  width: 150px
