#freelancer--background
  background-image: url('/img/freelancer-background.png')
  background-size: cover
  position: absolute
  top: 460px
  left: 0
  width: 100%
  height: 460px
  z-index: 0
  +media-query(desk)
    top: 0

#freelancer--connect
  text-align: center
  position: relative
  margin: auto
  margin-top: -20px
  margin-bottom: 10px
  padding: 10px
  height: auto

  .connect
    color: white

    .coin
      width: 100px
      margin-top: -20px
      margin-bottom: -25px

    .connect--btn
      cursor: pointer
      margin-top: 20px

    .connect--description
      margin-bottom: 0px
      text-shadow: 0px 0px 2px rgba(51, 51, 51, 0.55)

#freelancers
  position: relative
  background-color: #FFF
  padding: 10px
  z-index: 2

  .freelancers--header
    text-transform: uppercase
    text-align: center
    padding-bottom: 10px
    padding-top: 10px
    padding-left: 20px
    padding-right: 20px
    padding-bottom: 0px

  .freelancer__item
    display: inline-block
    margin: 3px

  .masonry-brick
    display: none
    margin: 0.2em

  .masonry-brick.loaded
    display: block

  ul
    list-style: none

  .freelancer
    display: table
    width: 230px
    background-color: #eee
    text-align: center
    padding-top: 10px
    border: 1px solid

  .freelancer__name
    font-weight: 600
    overflow: hidden
    max-width: 275px
    text-overflow: ellipsis
    white-space: nowrap

  .freelancer__description
    background-color: #1283B0
    color: white
    padding: 10px
    text-align: left
    margin-top: 15px
    max-width: 230px
    *
      max-width: 220px
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap

    .headline
      font-size: 14px

    h3, p
      margin: 0
