.input
  border-radius: 4px
  border: 1px solid #ccc
  padding: 9px

.input--full
  display: block
  width: 100%

.textarea
  border-radius: 4px
  border: 1px solid #ccc
  padding: 9px

.textarea--full
  display: block
  width: 100%

.select
  border-radius: 4px
  background: #fff
  border: 1px solid #ccc
  padding: 9px

.select--full
  display: block
  width: 100%
