.label
  color: #fff
  border-radius: 4px
  display: inline-block
  font-size: 12px
  line-height: 1
  padding: 3px 6px

.label--fulltime
  background: #90da36

.label--parttime
  background: #f08d3c

.label--freelance
  background: #39c

.label--temporary
  background: #d93674
