ul.profile
  list-style: none
  margin-left: 0

  li
    display: table
    height: 65px

    label
      display:table-cell
      width: 30%

    label.email
      line-height: 50px

    label.picture
      position: relative
      width: 100%
      bottom: 10px
      vertical-align: middle
      font-size: 18px
      padding-left: 20px

    .linkedin
      margin-left: 5px
      color: white
      width: 240px
      border: 1px solid
      border-radius: 4px
      cursor: pointer
      background-image: linear-gradient(#007BB6, #00699B)
      border: 1px solid #0073AE
      &:hover
        background-image: linear-gradient(#0287C8,#0075AD)

      i.mdi
        font-size: 110%
