ul.profile
  list-style: none
  margin-left: 0

  li
    display: table
    height: 65px

    label
      display:table-cell
      width: 30%

    label.email
      line-height: 50px

    label.picture
      position: relative
      width: 100%
      bottom: 10px
      vertical-align: middle
      font-size: 18px
      padding-left: 20px


      i.mdi
        font-size: 110%
