.search
  +cf
  font-size: 18px
  margin-bottom: 12px

.search__input
  border-radius: 4px 0 0 4px
  border: 1px solid #ddd
  border-right: none
  float: left
  padding: 12px 18px
  width: 80%

.search__btn
  border-radius: 0 4px 4px 0
  line-height: 1.5
  float: left
  padding: 8px
  width: 20%

