.signup
  +cf
  margin-bottom: 24px
  text-align: center

  .signin
    width: 100%
    padding-top: 38px
    padding-left: 38px
    padding-right: 0px
    text-align: center

.signup__cell
  +media-query(desk)
    float: left
    padding-left: 48px

.signup__cell--main
  background: white
  padding: 48px
  border-right: 1px solid #1283b0
  margin: auto
  +media-query(desk)
    width: 55%

.signup__cell--aside
  +media-query(desk)
    width: 45%

.signup__title
  color: lighten(#5f5f5f, 12%)
  line-height: 1.2
  text-shadow: 1px 1px 1px white

.signup-form
  list-style: none
  margin: 0
  > li
    margin-bottom: 14px
    &:last-child
      margin-bottom: 0
  +media-query(desk)
    > li
      display: table
      margin-bottom: 24px
      width: 100%
      &:last-child
        margin-bottom: 0

.signup-form__label
  display: block
  margin-bottom: 6px
  +media-query(desk)
    display: table-cell
    vertical-align: top
    width: 25%

.signup-form__input
  +media-query(desk)
    display: table-cell
    vertical-align: top

.signup-action
  background: whitesmoke
  border-top: 1px solid #e5e5e5
  padding: 14px 24px
  +media-query(desk)
    padding-left: 166px

.signup-action__btn
  display: block
  width: 100%
  +media-query(desk)
    display: inline-block
    width: auto

.signup-fieldset
  border: none
  +media-query(desk)
    margin-bottom: 32px

.signup__divider
  +media-query(desk)
    position: relative
    border-left: 1px solid #ddd
    padding-left: 30px
    margin-left: -30px
    left: 10px
