h1.slogan
  | Contrate <span class="slogan__normal">Freelancers</span>
  br
  | Pague com <span class="slogan__normal">Moeda Digital</span>

.home
  .home-main
    section(ui-view='job-list')

  section(ui-view='job-sidebar')
