h1.slogan
  | Anúncie Vagas <span class="slogan__normal">de empregos</span>
  br
  | Pague com <span class="slogan__normal">Moeda Digital</span>

.home
  .home-main
    section(ui-view='job-list')

  section(ui-view='job-sidebar')
