h1.slogan
  | {{ "home.banner.slogan.strong" | translate }}
  br
  | <span class="slogan__normal">{{ "home.banner.slogan.title" | translate }}</span>

.home
  .home-main
    section(ui-view='job-list')

  section(ui-view='job-sidebar')
