<!DOCTYPE HTML>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body bgcolor="#eee" leftmargin="0" marginheight="0" marginwidth="0" topmargin="0">
    <center style="padding:100px;background-color:#ccc">
      <table cellpadding="0" cellspacing="0" style="font-family:Arial; color: #252525; font-size: 14px; margin: 20px auto; width: 75%; background-color:white; border-radius:5px; overflow:hidden">
          <tbody>
            <tr>
              <td colspan="2" style="border-bottom: 1px solid #29B5DF; padding-top: 20px; padding-bottom:20px"><span class="sg-image" style="float: left; display: inline; text-align: left; padding-left: 20px;"><img height="38" src="https://marketing-image-production.s3.amazonaws.com/uploads/e89a2d2941267b8ae3c2e0dc13acbfff94184f900a2c7d1dac484dd655072aedd8891e1fd95dcf48d264eada4e27cbd125489c064c0ba5b091458d71ccd4d507.png" width="200"></span></td>
            </tr>
            <tr>
                <td colspan="2" style="padding: 20px;">
                    <h2 style="font-size: 20px; margin-top: 0;">Redefinir sua senha</h2>
                </td>
            </tr>
            <tr>
              <td style="padding-left:20px">Olá {{name}}</td>
            </tr>
            <tr>
                <td colspan="2" style="padding:20px">
                    <p>Por favor, clique no link abaixo para redefinir sua senha: </p>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding: 20px;">
                    <a href="{{url}}/reset?token={{token}}">{{url}}/reset?token={{token}}</a>
                </td>
            </tr>
            <tr style="background-color:#1283b0; height:50px; color:white;">
              <td colspan="4" style="padding:20px">
                <table style="width: 100%">
                  <tbody>
                    <tr>
                      <td><a href="{{url}}/#/jobs/create" style="color:white" title="Postar uma Vaga">Postar um Vaga</a></td>
                      <td><a href="{{url}}/#/about" style="color:white" title="Sobre">Sobre</a></td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
      </table>
    </center>
</body>
</html>
