<!DOCTYPE HTML>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
    <table style="font-family:Arial; color: #252525; font-size: 14px; margin: 20px auto; padding: 0 20px; width: 100%;" cellpadding="0" cellspacing="0">
        <tr>
            <td colspan="2" style="border-bottom: 1px solid #c2c2c2; padding-top: 20px; padding-bottom:20px">
                <a href="" style="display: inline-block;">
                    <img src="img/bitvagas.png" alt="" style="display: block;" />
                </a>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding-top:20px;">
                <h2 style="font-size: 20px; margin-top: 0;">Reset your password</h2>
            </td>
        </tr>
        <tr>
            <td>
                Hi {{name}}
            </td>
        </tr>
        <tr>
            <td>
                <p>Please, click at link below to reset your password:</p>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{url}}/reset?token={{token}}">{{url}}/reset?token={{token}}</a>
            </td>
        </tr>

    </table>
</body>
</html>
