h1 DashBoard
h3
  a(href="/auth/linkedin") Conectar CV
aside
  ul
    li
      a(ui-sref='dashboard.overview') Visao Geral
    li
      a(ui-sref='dashboard.profile') Minha Conta
    li
      a(ui-sref='dashboard.jobs.list') Minhas Vagas
    li
      a(ui-sref='dashboard.organization.list') Minhas Organizações
    aside
      section
        div(ui-view='')
