h2 Overview

h4 Meu Perfil
ul
  li
    label Nome
     {{user.NAME}}
  li
    label Email
     {{user.EMAIL}}

h4 Aplicadores


h4 Minhas Vagas
table
  thead
    tr
      th Title
      th Description
      th Category
      th Type
      th Location
      th Apply By
      th Company Name
      th Company Url
      th BTC Address
      th Active
      th Date
  tbody
    //- tr(ng-repeat='job in user.jobs')

