h1 Minha Conta

ul
  li
    label Nome
     {{user.NAME}}
  li
    label Email
     {{user.EMAIL}}

h3 Alterar Senha

ul
  li
     label Senha atual
     input.input.input--full(type='password')
  li
    label Nova senha
    input.input.input--full(type='password')
  li
    label Confirme nova senha
    input.input.input--full(type='password')
