h4 Alterar Senha

ul.create-form
  li
    ng-input(theme='fumi' label='password' ng-model='oldPassoword' icon='icon icon--fumi mdi mdi-lock' type='password')
  li
    ng-input(theme='fumi' label='password' ng-model='password' icon='icon icon--fumi mdi mdi-lock' type='password')
  li
    ng-input(theme='fumi' label='password' ng-model='repassword' icon='icon icon--fumi mdi mdi-lock' type='password')
  li
    button.btn.btn--primary() Change Password
