.cv(ng-if="currentUser.LINKEDIN_ID !== null")
  .cv__dashboard.cv__cell.cv__cell--main
    .cv__header
      .cv__header--cell.cv__header--title
        h2.title__name {{ currentUser.NAME }}
        h5.headline {{ currentUser.HEADLINE }}
      .cv__header--cell.cv__header--img
        img.cv(src="img/CV.png")

    hr

    .cv__item
      .cv__item--cell
        p.description {{ currentUser.SUMMARY }}
      .cv__item--cell.cv__item--small
        h1
          i.mdi.mdi-account-circle

    //- ul
      //- li(ng-repeat="skill in user.cv.skills.values")
        //- label {{ skill.skill.name }}

    .cv__links
      ul
        li
          a(href="{{ currentUser.LINKEDIN_PROFILE }}" target="_blank")
            i.mdi.mdi-linkedin-box
            | LinkedIn
        li
          a(href="mailto:{{ currentUser.EMAIL }}")
            i.mdi.mdi-email
            | {{ currentUser.EMAIL }}

.cv.cv__linkedin(ng-if="currentUser.LINKEDIN_ID === null")
  img.zoom(src="img/bv-connectcv.png")
  .connect
    a.btn.linkedin(ng-click="linkedIn()")
      i.mdi.mdi-linkedin-box
      span(ng-if='currentUser.LINKEDIN_ID === null')  Conectar LinkedIn

