.cv(ng-if="currentUser.LINKEDIN_ID !== null")
  .cv__cell.cv__cell--main
    .cv__header
      .cv__header--cell.cv__header--title
        h2.title__name {{ user.NAME }}
        h5.headline {{ user.HEADLINE }}
      .cv__header--cell.cv__header--img
        img.cv(src="img/CV.png")

    hr


    .cv__item(ng-if='user.SUMMARY')
      .cv__item--cell
        p.description {{ user.SUMMARY }}
      .cv__item--cell.cv__item--small
        h1
          i.mdi.mdi-account-circle

    //- ul
      //- li(ng-repeat="skill in user.cv.skills.values")
        //- label {{ skill.skill.name }}

    .cv__links
      ul
        li
          a(href="{{ user.cv.publicProfileUrl }}" target="_blank")
            i.mdi.mdi-linkedin-box
            | LinkedIn
        li
          a(href="mailto:{{ user.cv.emailAddress }}")
            i.mdi.mdi-email
            | {{ user.EMAIL }}

  aside.cv__cell.cv__aside
    img.cv__img.dashboard__img(ng-src="{{ user.PICTURE ? user.PICTURE : 'img/unknown.svg' }}")

    ul.aside__list
      li
        label
          i.mdi.mdi-email
          {{ user.EMAIL }}
      li
        label
          i.mdi.mdi-map-marker-radius
          {{ user.LOCATION }}

    hr
