img(ng-src="{{ user.PICTURE ? user.PICTURE : 'https://m1.behance.net/rendition/modules/83055723/disp/729ebe0c689023040b7eb03fe48e7792.png' }}" style="max-width:100px")
h1 {{ user.NAME }}
h5 {{ user.HEADLINE }}
h6 {{ user.SUMMARY }}
ul
  li(ng-repeat="skill in user.cv.skills.values")
    label {{ skill.skill.name }}
