#freelancers
  .freelancers--header
    h1 Freelancers
    hr

  div(masonry reload-on-resize)
    .freelancer__item.masonry-brick(masonry-brick ng-repeat="freelancer in freelancers")
      a(ui-sref="freelancers-cv({ id : freelancer.id })")
        .freelancer
          img.cv__img.dashboard__img(ng-src="{{ freelancer.PICTURE }}")
          .freelancer__description
            p.freelancer__name {{ freelancer.NAME }}
            p.headline {{ freelancer.HEADLINE }}
