block content
  .signup
    .main
      .wrapper
        h1.slogan
          | Sign Up

        ul
          li(ng-repeat='errorMessage in flash.errors')
            {{ errorMessage }}

        form
          input.input__text(type='text' ng-model='user.NAME' placeholder='Nome' name='NAME')
          input.input__text(type='text' ng-model='user.EMAIL' placeholder='Email' name='EMAIL')
          input.input__text(type='password' ng-model='user.PASSWORD' placeholder='Senha' name='PASSWORD')
          input.input__text(type='password' ng-model='user.REPASSWORD' placeholder='Re. Senha' name='REPASSWORD')
          input.login__btn.btn.btn--primary(data-ng-click='create(user)', value='Sign Up')

