block content
  .signup
    .main
      .wrapper
        h1.slogan
          | Sign Up

        form(action='', method='post')
          input.input__text(type='text', placeholder='Nome')
          input.input__text(type='text', placeholder='Email')
          input.input__text(type='password', placeholder='Senha')
          input.input__text(type='password', placeholder='Re. Senha')
          input.login__btn.btn.btn--primary(type='submit', value='Sign Up')

