block content
form.signin.signin__cell.signup__cell--main(ng-submit='form.$valid && login()' name='form')

  header.signup__head
    h1.signup__title(translate='signin.title')

  .signin__body
      fieldset.signup-fieldset
          ul.signup-form
            li
              .signup-form__input
                ng-input(type='text' icon='icon icon--fumi mdi mdi-account' theme='fumi' label='{{ "signin.email" | translate }}' name='EMAIL' ng-model='email' ng-required='true')
            li
              .signup-form__input
                ng-input(type='password' icon='icon icon--fumi mdi mdi-lock' theme='fumi' label='{{ "signin.password" | translate }}' name='PASSWORD' ng-model='password' ng-required='true')
            li
              a.forgot(ng-href='/forgot?email={{email}}' translate="signin.forgot")
              br
              span(translate='signin.new')
              a.join(href='/#/signup' translate='signin.join')

            .signup-action
              input.signup-action__btn.btn.btn--medium.btn--primary(type='submit' value='{{ "signin.button" | translate }}')
