.dashboard__title
  h1.dashboard__title--cell Organizations
  .dashboard__title--cell
    a.plus(ui-sref='dashboard.organization.create')
      i.mdi.mdi-plus-circle

div(ng-if='currentUser.orgs.length !== 0')
  ul.orgs
    li(ng-repeat='org in currentUser.orgs')
      a.orgs-item(href='#')
        .orgs-item__cell.orgs-item__cell--img
          img.thumb(src='/img/template.png')
        .orgs-item__cell.orgs-item__cell--body
          h2.orgs-item__title {{ org.NAME }}
          h3.orgs-item__url {{ org.URL }}
        .orgs-item__cell.orgs-item__cell--meta
          span(ui-sref="dashboard.organization.edit({ OrgID : org.id })" tooltips tooltip-title="Edit" tooltip-side="top")
            i.mdi.mdi-pencil-box
          span(ng-click="delete(org.id)" tooltips tooltip-title="Delete" tooltip-side="top")
            i.mdi.mdi-delete
