doctype html
html(lang='pt-br')
head
    title
      | BitVagas — Sign In

    include meta
    link(rel='stylesheet', href='/css/bitvagas.css')

block content

    .signin
      .main
        a(href='/#/', title='BitVagas')
          img(src='/img/bitvagas.png', alt='BitVagas')

        .errorMessage= message
        .auth
          form(action='/auth', method='post')
            input.input__text(type='text' placeholder='email' name='email')
            input.input__text(type='password' placeholder='password' name='password')
            input.login__btn.btn.btn--primary(type='submit', value='Sign In')
            div
              a.forgot(href='#') Forgot password?
              br
              | ainda não é usuario?
              a.join(href='/#/signup')  Join now
