doctype html
html(ng-app='bitvagas')
head
    title(translate="layout.head.title")

    include meta
    link(rel='stylesheet', href='/css/bitvagas.css')
    link(href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700', rel='stylesheet', type='text/css')
    include script

    style.
      body{ background-image:none; }

block content

    .signin
      .main
        a(href='/#/', title='BitVagas')
          img(src='/img/bitvagas.png', alt='BitVagas')

        .errorMessage= message
        .auth
          form(action='/auth', method='post')
            input.input.input--full(type='text' placeholder='{{ "signin.email" | translate }}' name='EMAIL')
            input.input.input--full(type='password' placeholder='{{ "signin.password" | translate }}' name='PASSWORD')
            input.login__btn.btn.btn--primary(type='submit', value='{{ "signin.button" | translate }}')
          hr
          div
            a.forgot(href='/forgot' translate='signin.forgot')
            br
            span(translate='signin.new')
            a.join(href='/#/signup' translate='signin.join')
