doctype html
html(lang='pt-br', ng-app='bitvagas')
  head
    base(href='/')
    title(translate="layout.head.title")

    include meta
    link(rel='shortcut icon', href='')

    link(href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/css/bitvagas.css')

    include script

    style.
      body{ background-image:none; }

block content

    .signin
      .main
        a(href='/#/', title='BitVagas')
          img(src='/img/bitvagas.png', alt='BitVagas')

        .auth(ng-controller="AuthController")
          form(novalidate ng-submit='form.$valid && login()' name="form")
            input.input.input--full(type='text' placeholder='{{ "signin.email" | translate }}' ng-model='email' name='EMAIL')
            input.input.input--full(type='password' placeholder='{{ "signin.password" | translate }}' ng-model='password' name='PASSWORD')
            input.login__btn.btn.btn--primary(type='submit', value='{{ "signin.button" | translate }}')
          hr
          div
            a.forgot(href='/forgot' translate='signin.forgot')
            br
            span(translate='signin.new')
            a.join(href='/#/signup' translate='signin.join')
