extends layout

block content
  .main(ng-controller='AuthController')
    .wrapper
      h1 Forgot your password?

      form(name='form' ng-submit='form.$valid && forgot()')
        ul.signup-form
          li
            ng-input(theme='fumi' icon='icon icon--fumi mdi mdi-email' type='text' value='#{email}' label='Email' name='EMAIL' ng-model='data.EMAIL' ng-required='true')
          li
            button.btn.btn--medium.btn--primary(value='Email me recovery link') Email me recovery link
