doctype html
html(lang='pt-BR', ng-app='bitvagas')
  head
    title BitVagas — Plataforma de vagas de trabalho para usuários Bitcoin

    base(href="/")

    include meta
    link(rel='shortcut icon', href='/img/favicon.ico')
    link(rel="canonical"  href='https://bitvagas.com')
    link(rel="image_src" href="https://bitvagas.com/img/bitvagas-cover.jpg")

    link(href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet' href='/css/bitvagas.css')
    link(rel='stylesheet' href='/components/mdi/css/materialdesignicons.min.css' media='all')
    link(rel='stylesheet' href='/components/ng-input/dist/css/ng-input.css')
    link(rel='stylesheet' href='/components/angular-tooltips/dist/angular-tooltips.min.css')
    link(rel='stylesheet' href='/components/flag-icon-css/css/flag-icon.min.css')
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css")

    include script

  body
    #fb-root

    header.head
      .wrapper.cf
        a.logo(href='/', title='BitVagas')
          img(src='/img/bitvagas.png', alt='BitVagas')

        ul.head-nav
          li
            a(href='/about', title='{{ layout.site_nav.about }}' translate="layout.site_nav.about")
          li
            a(href='/jobs-list', title='{{ "layout.site_nav.all_jobs" | translate }}' translate="layout.site_nav.all_jobs")
          li(ng-if='!isAuthenticated()')
            a(href='/jobs/post', title='{{ "layout.site_nav.post" | translate }}' translate="layout.site_nav.post")
          li(ng-if='isAuthenticated()')
            a(href='/dashboard/jobs/create', title='{{ "layout.site_nav.post" | translate }}' translate="layout.site_nav.post")
          li
            a(href='/freelancers', title='{{ "layout.site_nav.freelancers" | translate }}' translate="layout.site_nav.freelancers")

        ul.head-nav.head-nav--right
          li.dropdown(ng-controller="MainController")
            .dropdown-active
              .dropdown-active__text
                span.flag-icon(class="flag-icon-{{ currentLang() == 'pt-BR' ? 'br' : 'us'}}")
            ul.dropdown__body.dropdown__body--lang(ng-style="style")
              li
                a(href="#" ng-click="setLang('en-US')")
                  span.flag-icon.flag-icon-us
              li
                a(href="#" ng-click="setLang('pt-BR')")
                  span.flag-icon.flag-icon-br
          li(ng-if="!isAuthenticated()")
            a(href='/signin', title='{{ layout.site_nav.signin | translate }}' translate="layout.site_nav.signin")
          li(ng-if="!isAuthenticated()")
            a(href='/signup', title='{{ layout.site_nav.signup }}' translate="layout.site_nav.signup")
          li(ng-if="isAuthenticated()").dropdown
            .dropdown-active(href='/dashboard/overview') {{ currentUser.NAME || "You" }}
            ul(ng-style="style").dropdown__body.dropdown__body--user
              li.border-top
                a(ui-sref='dashboard.overview' translate='dashboard.menu.overview')
              li
                a(ui-sref='dashboard.profile' translate='dashboard.menu.myaccount')
              //- li
                //- a(ui-sref='dashboard.wallet)' translate='dashboard.menu.mywallet')
              li
                a(ui-sref='dashboard.cv({id : user.id})' translate='dashboard.menu.mycv')
              li.border-bottom
                a(ui-sref='dashboard.jobs.list' translate='dashboard.menu.myjobs')
              li
                a(ng-click='logout()' href="#" title='{{ layout.site_nav.logout}}' translate="layout.site_nav.logout")

    block content

    footer.foot
      .wrapper.cf
        a.logo-foot(href='/', title='BitVagas')
          img.logo-foot__img(src='/img/bitvagas-white.png', alt='BitVagas')

        ul.foot-nav
          li
            h5 BitVagas
          li
            a(href="/about" translate="layout.site_nav.about" )
          li
            a(href="/about#team" translate="layout.site_nav.team" )


        ul.foot-nav
          li
            h5(translate="layout.foot.develop")
          li
            a(href="/about#support" translate="layout.site_nav.support" )
          li
            a(href="https://github.com/bitvagas/bitvagas" target="_BLANK") Github
          li
            a(href="https://tip4commit.com/github/bitvagas/bitvagas" target="_BLANK") Tip4Commit

        ul.foot-nav
          li
            h5(translate="layout.foot.jobs")
          li
            a(href='/' title='{{ "layout.site_nav.all_jobs"' translate="layout.site_nav.all_jobs")
          li(ng-if='!isAuthenticated()')
            a(href='/jobs/post', title='{{ "layout.site_nav.post" | translate }}' translate="layout.site_nav.post")
          li(ng-if='isAuthenticated()')
            a(href='/dashboard/jobs/create', title='{{ "layout.site_nav.post" | translate }}' translate="layout.site_nav.post")
          li
            a(href='/signup' title='{{ "layout.site_nav.cv" | translate }}' translate="layout.site_nav.cv")
          li
            a(href='/freelancers' title='{{ "layout.site_nav.freelancers" | translate }}' translate="layout.site_nav.freelancers")
          li

        hr
        ul.foot-social
          li
            a(href='')
              twitter-button(user='bitvagas' href='https://bitvagas.com' text="{{ 'tweet' | translate }}" type="share")
          li
            a(href='')
             .fb-like(data-href="https://bitvagas.com" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false")
          li(style="width:80px")
            a(href='')
              .g-plusone
          li
            a(href='')
              a.github-button(href="https://github.com/bitvagas/bitvagas" data-count-href="/bitvagas/bitvagas/stargazers" data-count-api="/repos/bitvagas/bitvagas#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star ntkme/github-buttons on GitHub") Star

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-66600303-1', 'auto');
      ga('send', 'pageview');
