doctype html
html(lang='pt-br', ng-app='bitvagas')
head
    title
      | BitVagas — Plataforma de Vagas para usuários Bitcoin

    include meta
    link(rel='shortcut icon', href='')

    block css
      link(href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700', rel='stylesheet', type='text/css')
      link(rel='stylesheet', href='/css/bitvagas.css')
      script(src='components/angular/angular.min.js')
      script(src='components/angular-ui-router/release/angular-ui-router.min.js')
      script(src='app-build.js')

  body
    header.head
      .wrapper.cf
        a.logo(href='/#/', title='BitVagas')
          img(src='/img/bitvagas.png', alt='BitVagas')

        ul.head-nav
          li
            a(ui-sref='jobs-list', title='Todas as Vagas') Todas as Vagas
          li
            a(ui-sref='jobs-create', title='Postar Vaga') Postar Vaga
          li
            a(ui-sref='about', title='Sobre') Sobre
          li
            a(ui-sref='contact', title='Contato') Contato
          if !user
            li
                a(href='/auth/', title='Sign In') Sign In
            li
                a(ui-sref='signup', title='Sign Up') Sign Up
          if user
            li
                a(ui-sref='dashboard', title='User') #{user.name}
            li
                a(href='/logout', title='Log Out') Log Out

    block content

    footer.foot
      .wrapper.cf
        a.logo-foot(href='/#/', title='BitVagas')
          img.logo-foot__img(src='/img/bitvagas-white.png', alt='BitVagas')

        ul.foot-nav
          li
            a(ui-sref='jobs-create', title='Postar Vaga') Postar Vaga
          li
            a(ui-sref='about', title='Sobre') Sobre
          li
            a(ui-sref='terms', title='Termos de uso') Termos de uso
          li
            a(ui-sref='contact', title='Contato') Contato

        ul.foot-social
          li
            a(href='')
              img(src='', alt='Facebook')
          li
            a(href='')
              img(src='', alt='Twitter')
          li
            a(href='')
              img(src='', alt='Google+')
          li
            a(href='')
              img(src='', alt='RSS')
