doctype html
html(lang='pt-br', ng-app='bitvagas')
  head
    title(translate="layout.head.title")

    include meta
    link(rel='shortcut icon', href='')

    link(href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet' href='/css/bitvagas.css')
    link(rel='stylesheet' href='/components/mdi/css/materialdesignicons.min.css' media='all')
    link(rel='stylesheet' href='/components/ng-input/dist/css/ng-input.css')
    link(rel='stylesheet' href='/components/angular-tooltips/dist/angular-tooltips.min.css')
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css")

    include script

    //Twitter button
    link(rel='import' href='/components/twitter-button/dist/twitter-button.html')
    //Facebook button
    link(rel='import' href='/components/facebook-button/dist/facebook-button.html')
    //G+ button. fix: confict with polymer versions
    //- link(rel='import' href='/components/gplus-elements/dist/gplus-one.html')
    //Github button fix: confict with polymer versions
    //- link(rel='import' href='/components/github-button/dist/github-button.html')

  body
    header.head
      .wrapper.cf
        a.logo(href='/#/', title='BitVagas')
          img(src='/img/bitvagas.png', alt='BitVagas')

        ul.head-nav
          li
            a(href='/#/about', title='{{ layout.site_nav.about }}' translate="layout.site_nav.about")
          li
            a(href='/#/jobs-list', title='{{ "layout.site_nav.all_jobs" | translate }}' translate="layout.site_nav.all_jobs")
          li(ng-if='!isAuthenticated()')
            a(href='/#/jobs/post', title='{{ "layout.site_nav.post" | translate }}' translate="layout.site_nav.post")
          li(ng-if='isAuthenticated()')
            a(href='/#/dashboard/jobs/create', title='{{ "layout.site_nav.post" | translate }}' translate="layout.site_nav.post")
          li
            a(href='/#/freelancers', title='{{ "layout.site_nav.freelancers" | translate }}' translate="layout.site_nav.freelancers")

        ul.head-nav.head-nav--right
          li.dropdown(ng-controller="MainController")
            .dropdown-active
              .dropdown-active__icon
                img(src="/img/icon-lang.svg")
              .dropdown-active__text(translate="lang")
            ul.dropdown__body(ng-style="style")
              li
                a(href="#" ng-click="setLang('en')") EN
              li
                a(href="#" ng-click="setLang('pt')") PT
          li(ng-if="!isAuthenticated()")
            a(href='/#/signin', title='{{ layout.site_nav.signin | translate }}' translate="layout.site_nav.signin")
          li(ng-if="!isAuthenticated()")
            a(href='/#/signup', title='{{ layout.site_nav.signup }}' translate="layout.site_nav.signup")
          li(ng-if="isAuthenticated()").dropdown
            .dropdown-active(href='/#/dashboard/overview') {{ currentUser.NAME || "You" }}
            ul(ng-style="style").dropdown__body.dropdown__body--user
              li.border-top
                a(ui-sref='dashboard.overview' translate='dashboard.menu.overview')
              li
                a(ui-sref='dashboard.profile' translate='dashboard.menu.myaccount')
              li
                a(ui-sref='dashboard.walelt)' translate='dashboard.menu.mywallet')
              li
                a(ui-sref='dashboard.cv({id : user.id})' translate='dashboard.menu.mycv')
              li.border-bottom
                a(ui-sref='dashboard.jobs.list' translate='dashboard.menu.myjobs')
              li
                a(ng-click='logout()' href="#" title='{{ layout.site_nav.logout}}' translate="layout.site_nav.logout")

    block content

    footer.foot
      .wrapper.cf
        a.logo-foot(href='/#/', title='BitVagas')
          img.logo-foot__img(src='/img/bitvagas-white.png', alt='BitVagas')

        ul.foot-nav
          li
            h5 BitVagas
          li
            a(href="/#/about" translate="layout.site_nav.about" )
          li
            a(href="/#/about#team" translate="layout.site_nav.team" )
          li
            a(href='/#/terms', title='{{ layout.site_nav.terms }}' translate="layout.site_nav.terms")
          li
            a(href='/#/contact', title='{{ layout.site_nav.contact }}' translate="layout.site_nav.contact")


        ul.foot-nav
          li
            h5(translate="layout.foot.develop")
          li
            a(href="/#/about#support" translate="layout.site_nav.support" )
          li
            a(href="https://github.com/bitvagas/bitvagas" target="_BLANK") Github
          li
            a(href="https://tip4commit.com/github/bitvagas/bitvagas" target="_BLANK") Tip4Commit

        ul.foot-nav
          li
            h5(translate="layout.foot.jobs")
          li
            a(href='/#/' title='{{ "layout.site_nav.all_jobs"' translate="layout.site_nav.all_jobs")
          li(ng-if='!isAuthenticated()')
            a(href='/#/jobs/post', title='{{ "layout.site_nav.post" | translate }}' translate="layout.site_nav.post")
          li(ng-if='isAuthenticated()')
            a(href='/#/dashboard/jobs/create', title='{{ "layout.site_nav.post" | translate }}' translate="layout.site_nav.post")
          li
            a(href='/#/signup' title='{{ "layout.site_nav.cv" | translate }}' translate="layout.site_nav.cv")
          li
            a(href='/#/freelancers' title='{{ "layout.site_nav.freelancers" | translate }}' translate="layout.site_nav.freelancers")
          li

        hr
        ul.foot-social
          li
            a(href='')
              twitter-button(user='bitvagas' href='https://bitvagas.com' text="{{ 'tweet' | translate }}" type="share")
          li
            a(href='')
              facebook-button(href="https://bitvagas.com" type="like")
          li
            a(href='')
              //TODO: replace with webcomponents
              | <div class="g-plusone" data-size="medium" data-href="https://bitvagas.com/#{ lang == "en" ? "" : lang + "/" }" data-href="https://bitvagas.com/"></div>
          li
            a(href='')
              //TODO: replace with webcomponents
              | <iframe src="https://ghbtns.com/github-btn.html?user=bitvagas&amp;repo=bitvagas&amp;type=watch&amp;count=true&amp;size=small" allowtransparency="true" frameborder="0" scrolling="0" width="85" height="20"></iframe>

    script(src="https://apis.google.com/js/platform.js" async defer)
