doctype html
html(lang='pt-br', ng-app='bitvagas')
  head
    title(translate="layout.head.title")

    include meta
    link(rel='shortcut icon', href='')

    block css
      link(href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700', rel='stylesheet', type='text/css')
      link(rel='stylesheet', href='/css/bitvagas.css')
      script(src='/components/angular/angular.min.js')
      script(src='/components/angular-ui-router/release/angular-ui-router.min.js')
      script(src='/components/angular-cookies/angular-cookies.min.js')
      script(src='/components/angular-translate/angular-translate.min.js')
      script(src='/components/angular-translate-loader-static-files/angular-translate-loader-static-files.js')
      script(src='/components/angular-translate-storage-cookie/angular-translate-storage-cookie.min.js')
      script(src='/components/angular-translate-storage-local/angular-translate-storage-local.min.js')
      script(src='/app-build.js')

  body
    header.head
      .wrapper.cf
        a.logo(href='/#/', title='BitVagas')
          img(src='/img/bitvagas.png', alt='BitVagas')

        ul.head-nav
          li
            a(href='/#/about', title='{{ layout.site_nav.about }}' translate="layout.site_nav.about")
          li
            a(href='/#/jobs-list', title='{{ "layout.site_nav.all_jobs" | translate }}' translate="layout.site_nav.all_jobs")
          if !user
            li
              a(href='/#/jobs/post', title='{{ "layout.site_nav.post" | translate }}' translate="layout.site_nav.post")
          else
            li
              a(href='/#/dashboard/jobs/create', title='{{ "layout.site_nav.post" | translate }}' translate="layout.site_nav.post")
          li
            a(href='/#/freelancers', title='{{ "layout.site_nav.freelancers" | translate }}' translate="layout.site_nav.freelancers")

        ul.head-nav.head-nav--right
          if !user
            li
              a(href='/#/signin', title='{{ layout.site_nav.signin | translate }}' translate="layout.site_nav.signin")
            li
              a(href='/#/signup', title='{{ layout.site_nav.signup }}' translate="layout.site_nav.signup")
          else
            li
                a(href='/#/dashboard/overview') #{user.NAME}
            li
              a(href='/logout', title='{{ layout.site_nav.logout}}' translate="layout.site_nav.logout")

    block content

    footer.foot
      .wrapper.cf
        a.logo-foot(href='/#/', title='BitVagas')
          img.logo-foot__img(src='/img/bitvagas-white.png', alt='BitVagas')

        ul.foot-nav
          if !user
            li
              a(href='/#/jobs/post', title='{{ "layout.site_nav.post" | translate }}' translate="layout.site_nav.post")
          else
            li
              a(href='/#/dashboard/jobs/create', title='{{ "layout.site_nav.post" | translate }}' translate="layout.site_nav.post")
          li
            a(href='/#/about', title='{{ layout.site_nav.about }}' translate="layout.site_nav.about")
          li
            a(href='/#/terms', title='{{ layout.site_nav.terms }}' translate="layout.site_nav.terms")
          li
            a(href='/#/contact', title='{{ layout.site_nav.contact }}' translate="layout.site_nav.contact")

        ul.foot-social
          li
            a(href='')
              img(src='', alt='Facebook')
          li
            a(href='')
              img(src='', alt='Twitter')
          li
            a(href='')
              img(src='', alt='Google+')
          li
            a(href='')
              img(src='', alt='RSS')

    script(src="https://apis.google.com/js/platform.js" async defer)
    script(src='/components/qrcode-generator/js/qrcode.js')
    script(src='/components/qrcode-generator/js/qrcode_UTF8.js')
    script(src='/components/angular-qrcode/qrcode.js')
