meta(charset='UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='description', content='BitVagas — Plataforma de vagas de trabalho para usuários Bitcoin')
meta(name='author', content='BitVagas')
meta(name="revisit-after" content="5 days")
meta(name="keywords" content="BitVagas, Bitcoin, Vagas, Freelancer, Vagas Bitcoin, Freelancers Bitcoin, Bitcoin Jobs, Jobs, platform jobs")
meta(content="IE=edge" http-equiv="X-UA-Compatible")

meta(property='og:title', content='BitVagas')
meta(property='og:site_name', content='BitVagas')
meta(property='og:url', content='https://bitvagas.com')
meta(property="og:image" content="https://bitvagas.com/img/bitvagas-cover.jpg")
meta(content="https://bitvagas.com/img/bitvagas-cover.jpg" property="og:image:secure_url")
meta(property='og:type', content='website')
meta(property='og:description', content='BitVagas — Plataforma de vagas de trabalho para usuários Bitcoin')

meta(name='twitter:card', content='summary')
meta(name='twitter:title', content='BitVagas')
meta(name='twitter:description', content='BitVagas — Plataforma de Vagas para usuários Bitcoin')
meta(name='twitter:image' content='https://bitvagas.com/img/bitvagas-cover.jpg')
meta(name='twitter:site', content='BitVagas')


meta(name="google-site-verification" content="McWKzT4auXzVbCHbbAjUA6sMRbm8L08y0gr9MuvbUmw")
