meta(charset='UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(name='description', content='')
meta(name='author', content='BitVagas')
meta(name='application-name', content='')
meta(name='google-site-verification', content='')

meta(property='og:title', content='BitVagas — Plataforma de Vagas para usuários Bitcoin')
meta(property='og:site_name', content='BitVagas')
meta(property='og:url', content='')
meta(property='og:image', content='')
meta(property='og:type', content='website')
meta(property='og:description', content='')

meta(name='twitter:card', content='summary')
meta(name='twitter:title', content='BitVagas — Plataforma de Vagas para usuários Bitcoin')
meta(name='twitter:description', content='')
meta(name='twitter:image', content='')
meta(name='twitter:site', content='BitVagas')
