extends layout

block content
  .main
    .wrapper(ng-controller='AuthController')
      header.signup__head
      h1.signup__tiel Reset your password

      form(name='form' ng-submit='form.$valid && reset("#{token}")')
        .signup__body
          ul.signup-form
            li
              ng-input(theme='fumi' icon='icon icon--fumi mdi mdi-lock' type='password' label='Senha' name='PASSWORD' ng-model='data.PASSWORD')
            li

              ng-input(theme='fumi' icon='icon icon--fumi mdi mdi-lock' type='password' label='Repetir Senha' name='REPASSWORD' ng-model='data.REPASSWORD')

            button.btn.btn--medium.btn--primary(value='Reset Password') Reset Password
