script(src='dest/jquery.min.js')
script(src='dest/masonry.pkgd.min.js')
script(src='dest/imagesloaded.js')

script(src='dest/components.min.js')
script(src='dest/angular-masonry.js')
script(src='dest/pg-ng-dropdown.min.js')
script(src='dest/notificationFx.js')
script(src='dest/app-build.js')
