script(src='dest/simplemde.min.js')

script(src='dest/components.min.js')
script(src='dest/pg-ng-dropdown.min.js')
script(src='components/moment/locale/pt-br.js')
script(src='dest/notificationFx.js')
script(src='dest/app-build.js')

script(async defer id="github-bjs" src="https://buttons.github.io/buttons.js")

script.
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '162990964082513',
      xfbml      : true,
      version    : 'v2.5'
    });
  };
  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

// Twitter Button
| <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

// GPlus Button
| <script src="https://apis.google.com/js/platform.js" async defer>
|   {lang: 'pt-BR'}
| </script>
