extends layout

block content
  .main(ng-controller='AuthController')
    .wrapper
      h1 Verify your account
      form(name='form' ng-submit='verify("#{token}")')
        input.btn.btn--medium.btn--primary(type='submit' value='Verify now!')
