extends layout

block content
  .main
    .wrapper
      h1 Verify your account
      form(action='/verify' method='POST')
        input(type='hidden' value='#{token}' name='token')
        input.btn.btn--medium.btn--primary(type='submit' value='Verify now!')
